* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
}



a {
    text-decoration: none;
}

/* CONTAINER E CONTENT */
.container {
    width: 100%;
    
}

.content {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}